{% extends 'layout.html.twig' %}
{% block stylesheet %}
{% endblock %}
{% block title %}Story{% endblock title %}
{% block content %}
    <!-- body -->
    <div class="content">
        <nav>

            {% for hero in heroes %}
                {% if path[3] == hero.id %}
                    <img src="/assets/images/{{ hero.name }}.png" alt="avatar" class="navAvatar">

                    <ul class="stats">
                <li><img src="/assets/images/life.png" alt="" class="logoStats"> Health: {{hero.health}}</li>
                <li><img src="/assets/images/sword.png" alt="" class="logoStats"> Attack: {{hero.attack}}</li>
                <li><img src="/assets/images/gold.png" alt="" class="logoStats"> Gold: {{hero.gold}}</li>
            </ul>
            {% endif %}
            {% endfor %}

            <div class="bag">
                <p>Bag</p>
                <ul>
                    {% for hero in heroes %}
                    {% if path[3] == hero.id %}
                        {% if weapons is empty %}
                            {% else %}
                        {% for weapon in weapons %}
                    <li>
                        <button>{{weapon.name}}</button>
                    </li>
                        {% endfor %}
                            {% endif %}

                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="location">
            <img src="/assets/images/bag.jpg" alt="bagIcon" id="bagIcon">
            <h4>Lieu</h4>
        </div>

        <main id="main">
            <!-- INSERT YOUR CODE HERE -->
            {% block main %}

            {% endblock main %}
        </main>
    </div>
    <!-- /body -->
    <script src="/assets/JS/combatScript.js"></script>

{% endblock %}

