{% extends 'layout.html.twig' %}

 {% block stylesheet %}
     <link rel="stylesheet" href="/assets/css/chooseHero.css">
 {% endblock %}

{% block title %}Choose your hero{% endblock title %}

{% block content %}

<h3>Choose your hero</h3>

<div class="cards">
<<<<<<< HEAD
    {% for heroe in heroes %}
    <div id="card-{{ heroe.name }}" class="card" >
        <h4 id="{{ heroe.name }}">{{ heroe.name }}</h4>
        <ul class="stats" id="stats-{{ heroe.name }}">
            <li><img src="../assets/images/life.png" alt="" class="logoStats"> Health: {{heroe.health}}</li>
            <li><img src="../assets/images/sword.png" alt="" class="logoStats"> Attack: {{heroe.attack}}</li>
            <li><img src="../assets/images/gold.png" alt="" class="logoStats"> Gold: {{ heroe.gold }}</li>
        </ul>
        <button class="{{ heroe.name }}-btn" id="{{ heroe.name }}-btn"><a href="../quest/story">Start</a></button>
=======
    <div id="card-warrior" class="card" >
        <h4 id="warrior">Warrior</h4>
        <ul class="stats" id="stats-warrior">
            <li><img src="../assets/images/life.png" alt="" class="logoStats"> Health: 130</li>
            <li><img src="../assets/images/sword.png" alt="" class="logoStats"> Attack: 150</li>
            <li><img src="../assets/images/gold.png" alt="" class="logoStats"> Gold: 0</li>
        </ul>
        <button class="warrior-btn"><a href="../quest/story/1">Start</a></button>
    </div>
    <div id="card-mage" class="card" >
        <h4 id="mage">Mage</h4>
        <ul class="stats" id="stats-mage">
            <li><img src="../assets/images/life.png" alt="" class="logoStats"> Health: 80</li>
            <li><img src="../assets/images/sword.png" alt="" class="logoStats"> Attack: 200</li>
            <li><img src="../assets/images/gold.png" alt="" class="logoStats"> Gold: 0</li>
        </ul>
        <a href=""><button class="mage-btn"><a href="../quest/story/1">Start</a></button>
    </div>
    <div id="card-rogue" class="card" >
        <h4 id="rogue">Rogue</h4>
        <ul class="stats" id="stats-rogue">
            <li><img src="../assets/images/life.png" alt="" class="logoStats"> Health: 100</li>
            <li><img src="../assets/images/sword.png" alt="" class="logoStats"> Attack: 165</li>
            <li><img src="../assets/images/gold.png" alt="" class="logoStats"> Gold: 0</li>
        </ul>
        <a href=""><button class="rogue-btn"><a href="../quest/story/1">Start</a></button>
>>>>>>> 6a1abd010e14fe28f50b18d2fcaa1b026dbc99cd
    </div>
    {% endfor %}

</div>
    <script src="../assets/JS/chooseHeroScript.js"></script>
{% endblock content %}