{% extends 'interface.html.twig' %}
 {% block stylesheet %}
     {% for hero in heroes %}
         {% if path[3] == hero.id %}
             <link rel="stylesheet" href="/assets/css/{{ hero.name }}-interface.css">
         {% endif %}
     {% endfor %}
     <link rel="stylesheet" href="/assets/css/combat.css">
     <link rel="stylesheet" href="/assets/css/scripts.css">

 {% endblock %}


{% block main %}
            <div class="combat">
            <h5>Un {{creature.name}} vous attaque !</h5>  <!-- TODO:render the creature  name dynamic -->
            <div class="combatInterface">

                <!-- The creature block -->
                <div class="creatureBlock">

                    <!-- state text during combat -->
                    <div class="creatureText">
                        <!--
                        TODO: Don't know yet how to get attack values from useWeapon function
                        <div class="combatText">
                            <p>Le {{creature.name}} vous inflige 20 points de dégats</p>
                        </div>
                         -->
                    </div>
                    <!-- image and lifebar -->
                    <div class="creatureState">
                        <img src="/assets/images/{{ creature.name }}.png" alt="creatureSprite" class="creatureSprite" />
                        <progress id="healthCreature" value="{{ creature.health }}" max="{{ creatureMaxHealth }}"></progress>
                    </div>
                </div>

                <!-- The user block -->
                <div class="userBlock">

                    <!-- image and lifebar + interaction buttons -->
                    <div class="userState">
                        <div class="avatar">
                            <img src="/assets/images/{{ hero.name }}.png" alt="userAvatar" class="avatar">
                        </div>

                        <div class="avatarMobile">
                            <img src="/assets/images/{{ hero.name }}.png" alt="userAvatar" class="avatarMobile">
                        </div>

                        <div class="actions">

                            <div class="actionBtn">
                                <button id="weaponsDisplayer">Weapons</button>
                                <button id="itemsDisplayer">Items</button>

                                <!-- combatScript starts -->
                                <div id="displayedWeapons" class="displayedBar">
                                    {% if weapons is empty %}
                                    {% else %}
                                        {% for weapon in weapons %}
                                            {% if weapon.name is null %}
                                            {% else %}
                                                    <button id="{{weapon.name}}"
                                                            onclick="if(confirm('Utiliser cette arme ?'))
                                                                    {location.href='/combat/useweapon/{{ weapon.name }}/{{ path[3] }}/{{ path[2] }}'}"
                                                            type="submit"
                                                            name="{{weapon.name}}">
                                                        {{weapon.name | capitalize}}
                                                        <img src="/assets/images/sword.png" alt="sword" class="logoStats">
                                                        <span class="statInBar">{{ weapon.attack }}</span>
                                                    </button>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div id="displayedItems" class="displayedBar">
                                    {% if potions is empty %}
                                    {% else %}
                                        {% for potion in potions %}
                                            {% if potion.name is null %}
                                            {% else %}
                                                    <button onclick="if(confirm('Utiliser cette potion ?'))
                                                    {location.href='/quest/usepotion/{{ hero.id }}'}" type="submit"
                                                            name="{{potion.name}}">{{potion.name|capitalize}}</button>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <!--<div id="weaponStats">
                                    {% for weapon in weapons %}
                                    <span class="itemInBar">{{ weapon.name | capitalize }}</span>
                                    <img src="/assets/images/sword.png" alt="sword" class="logoStats">
                                    <span class="statInBar">{{ weapon.attack }}</span>
                                    <button id="attack">Attack</button>
                                    {% endfor %}
                                </div>-->
                            </div>
                            <progress id="healthUser" value="{{hero.health}}" max="{{ heroMaxHealth }}"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--<button class="restartGame">Restart</button>-->


    <script src="../assets/JS/combatScript.js"></script>
{% endblock main %}
