{% extends 'interface.html.twig' %}
 {% block stylesheet %}
     {% for hero in heroes %}
     {% if path[3] == hero.id %}
     <link rel="stylesheet" href="/assets/css/{{ hero.name }}-interface.css">
         {% endif %}
     {% endfor %}
     <link rel="stylesheet" href="/assets/css/story.css">
 {% endblock %}
{% block title %}Story{% endblock title %}
{% block main %}

    <div id="history">

        <p>{{ story.story }}</p>

    </div>

    <div id="responses">
        {% for hero in heroes %}
        {% if path[3] == hero.id %}
        {% for choice in choices %}
            <a class="response" href="/quest/story/{{ choice.consequences }}/{{ hero.id }}" style="text-decoration: none; color: white">{{ choice.choice }}</a>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>

    <!---  bagScript --->
    <div id="bagScript">
        <p>Bag</p>
        <ul>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
            <li>
                <button>Item</button>
            </li>
        </ul>
    </div>

    <!--<button class="restartGame">Restart</button>-->


    <script src="../assets/JS/bagScript.js"></script>
{% endblock %}